{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}" >Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'manageEmployee' %}">Manage Employee</a></li>
<li class="breadcrumb-item active">Add Employee</li>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% if errorCode %}
    <div class="alert alert-danger">
      <p class="login-box-msg" style="color: red;">{{ errorCode }}</p>
    </div>
    {% endif %}
    <div class="form-group">
      <label for="emp_id">Employee Id</label>
      <input type="text" class="form-control" id="emp_id" name="employeeid">
    </div>
    <div class="form-group">
      <label for="emp_name">Employee Name</label>
      <input type="text" class="form-control" id="emp_name" name="employeename">
    </div>
    <button type="submit" class="btn btn-success">Add Employee</button>
  </form>

{% endblock %}
<!-- Title block -->
{% block title %}Add Employee{% endblock %}
<!-- Title block end -->
