{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}" >Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'manageEmployee' %}">Manage Employee</a></li>
<li class="breadcrumb-item active">Delete Employee</li>
{% endblock %}

{% block content %}

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th>Employee Name</th>
        <th>Employee Id</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    {% for emp in employee %}
      <tr>
          <td>
            <small class="text-muted d-block">{{ emp.EmpName }}</small>
          </td>
          <td>
            <small class="text-muted d-block">{{ emp.EmpId }}</small>
          </td>
          <td>
            <form method='post'>
              {% csrf_token %}
              <button type="submit" class="btn btn-success" name="employeeid" value='{{ emp.EmpId }}''>Delete</button>
            </form>
          </td>
      </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
<!-- Title block -->
{% block title %}Delete Employee{% endblock %}
<!-- Title block end -->
